<!-- Primary Meta Tags -->
<meta
	name="title"
	content="{{ with .Title }}
		{{ . }}
	{{ else }}
		{{ .Site.Title }}
	{{ end }}"
/>
<meta
	name="description"
	content="{{ with .Description }}
		{{ . | markdownify }}
	{{ else }}
		{{ if .IsPage }}
			{{ .Summary | markdownify }}
		{{ else }}
			{{ with .Site.Params.description }}{{ markdownify }}{{ end }}
		{{ end }}
	{{ end }}"
/>

<!-- Open Graph / Facebook -->
{{ template "_internal/opengraph.html" . }}


<!-- Microdata -->
{{ template "_internal/schema.html" . }}
