{{ define "main" }}
	<section class="hero">
		Hello, I'm <b>Fritz</b>, an ML Engineering Manager based in Berlin. I
		currently lead the Data Intelligence team at
		<a href="https://www.trawa.de/" class="inverted">Trawa</a> as
		<b>ML Engineering Manager</b>, responsible for data ingestion pipelines,
		ETL systems, and the end-to-end infrastructure powering time series
		forecasting and production-grade prediction services.
		<br />
		My background spans full-stack engineering and ML Ops
	</section>

	<div class="main-posts">
		<h2>
			<span><a href="/blog">See all</a></span> Latest Posts
		</h2>
	</div>

	<ul class="blog-posts">
		{{ $pages := where .Site.RegularPages.ByDate.Reverse "Section" "blog" }}
		{{ $paginator := .Paginate $pages 5 }}
		{{ range $paginator.Pages }}
			{{- partial
				"blog_posts.html" .
			-}}
		{{ end }}
		<li>
			<div class="blog-posts__summary">
				<span class="blog-posts__older"
					><a href="/blog">See older posts</a></span
				>
			</div>
		</li>
	</ul>
{{ end }}
