---
const year = new Date().getFullYear();
import SocialList from "@/components/SocialList";
---

<footer
  class="mt-auto flex w-full flex-col flex-wrap items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
  <SocialList />
  <nav
    aria-label="More on this site"
    class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
  >
    <a
      href="/"
      class="sm:px-4 px-2 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
      >Home</a
    >
    <a
      href="/about"
      class="sm:px-4 px-2 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
      >About</a
    >
    <a
      href="/posts"
      class="sm:px-4 px-2 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
      >Blog</a
    >
    <a
      href="/fritz-stelluto_resume.pdf"
      class="sm:px-4 px-2 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
      >Resume</a
    >
  </nav>
  <div class="my-8 mr-0 sm:mr-4">
    <a href="https://creativecommons.org/licenses/by/4.0/"
      >Licensed under a Creative Commons Attribution 4.0 license</a
    >
  </div>
</footer>
