---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "About",
  description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About me</h1>
    <p>
      Hi, I'm Fritz, an engineer based in Berlin. I currently work in the Data Science
      department at <a href="https://wayfair.de/" class="cactus-link">Wayfair</a>,
      creating services and doing ML Ops. Previously I have been a full stack developer
      and technical manager.
    </p>
    <p>
      I have been in the tech industry for more than two decades, and tend to write
      short posts about technical stuff. Before that career switch I trained and worked
      as a chef, but I don't write about that 😄<br />Prior to that I went to music
      college.
    </p>
    <p>
      I grew up in Italy but lived most of my life in London, where I went to
      university, before moving to Berlin.
    </p>
    <p>
      If you want to talk to me about work I've got a <a
        class="cactus-link"
        href="https://www.linkedin.com/in/gotofritz/"
        target="_blank"
        rel="noopener noreferrer">LinkedIn profile</a
      > and you can <a
        class="cactus-link font-bold"
        target="_blank"
        rel="noopener noreferrer"
        href="/fritz-stelluto_resume.pdf">download my resume</a
      >
    </p>
    <section class="mt-16">
      <h2 class="title mb-4 text-xl">About this site</h2>
      <p class="my-4 sm:my-2">
        This site was based on Chris Williams's awesome
        <a
          class="cactus-link inline-block"
          href="https://github.com/chrismwilliams/astro-cactus"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="github repository"
        >
          Cactus theme for Astro, Copyright &copy; 2023 🚀
        </a>
      </p>
      <ul class="space-y-4 sm:space-y-2">
        <li>
          <a
            href="https://astro.build"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >Astro
          </a>:
          <p class="inline-block sm:mt-2">Build fast websites, faster.</p>
        </li>
        <li>
          <a
            href="https://docs.astro.build/en/guides/integrations-guide/image/"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >@astro/image
          </a>:
          <p class="inline-block sm:mt-2">
            An Astro integration for optimising images in Astro projects.
          </p>
        </li>
        <li>
          <a
            href="https://tailwindcss.com"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >Tailwind CSS
          </a>:
          <p class="inline-block sm:mt-2">
            Rapidly build modern websites without ever leaving your HTML.
          </p>
        </li>
        <li>
          <a
            href="https://www.markdownguide.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >Markdown
          </a>:
          <p class="inline-block sm:mt-2">Simple and easy-to-use markup language.</p>
        </li>
        <li>
          <a
            href="https://mdxjs.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >MDX
          </a>:
          <p class="inline-block sm:mt-2">Markdown for the component era.</p>
        </li>
        <li>
          <a
            href="https://github.com/vercel/satori"
            target="_blank"
            rel="noopener noreferrer"
            class="cactus-link inline-block"
            >Satori
          </a>:
          <p class="inline-block sm:mt-2">
            Generating png Open Graph images for blog posts
          </p>
        </li>
      </ul>
    </section>
  </div>
</PageLayout>
