@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    line-height: 1;
  }
  h2 {
    @apply text-2xl mb-4 font-bold;
  }
  h2:not(:first-of-type) {
    @apply mt-8;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }

  ul,
  ol,
  dl {
    @apply my-4;
  }

  ul {
    @apply list-inside;
    list-style-type: square;
  }

  ol {
    @apply list-inside list-decimal;
  }

  :not(pre) > code {
    background: #ebebeb;
    padding: 4px;
    border-radius: 2px;
  }

  :not(h3) a {
    text-decoration: underline;
  }
}

@layer components {
  @media (min-width: 768px) {
    .intro {
      width: 49ch;
    }
    header h1 {
      font-size: 9.4rem;
    }

    .posts {
      grid-area: posts;
    }

    .gotofritz-grid {
      grid-template-columns: 4rem auto 6rem;
      grid-template-areas:
        "header header header"
        "intro  intro  intro "
        " .. posts .."
        "footer footer footer ";
    }

    .intro {
      grid-area: intro;
    }

    .post-content {
      grid-area: posts;
    }

    header {
      grid-area: header;
    }
  }
}

@layer utilities {
  .focus {
    @apply outline-none focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 dark:focus-visible:ring-blue-300;
  }

  .home-icon {
    height: 1rem;
    width: 1rem;
  }
}

:where(h2, h3, h4, h5, h6) .icon-link {
  position: relative;
}

:where(h2, h3, h4, h5, h6) .icon-link::before {
  @apply text-slate-500;
  content: "#";
  left: -1.5ch;
  line-height: 1;
  opacity: 0;
  position: absolute;
  text-decoration: none;
  top: 0.125rem;
}

:where(h2, h3, h4, h5, h6):hover .icon-link::before {
  opacity: 1;
}
.prose img {
  @apply rounded-md shadow-md dark:shadow-slate-900;
}

.prose video {
  @apply rounded-md shadow-md dark:shadow-slate-900;
}

.prose pre {
  @apply shadow-md dark:shadow-slate-900;
}

hr {
  @apply !border-slate-300 dark:!border-slate-700;
}

button {
  @apply rounded-md;
  @apply focus;
}

a {
  @apply rounded-sm;
  @apply focus;
}

svg {
  @apply outline-none focus:outline-none;
}

.readable-list dd {
  margin-bottom: 1.4rem;
}

.readable-list dt {
  font-weight: bold;
}

.post-content p {
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.post-content li p {
  display: inline;
}

.post-content a:not(:only-child) {
  background-color: #eeeeee;
  border-bottom: 1px dotted #e9e9e9;
}

.post-content a:not(:only-child):hover {
  border-bottom: 1px dotted #666;
}

pre[class*="language-"] {
  margin-bottom: 1.5rem;
  overflow-x: scroll;
}

.code-breakdown {
  display: grid;
  grid-template-columns: auto 1fr;
}
.code-breakdown dd,
.code-breakdown dt {
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.3rem;
  margin-inline-start: 0;
}
.code-breakdown dt {
  background: rgb(245, 242, 240);
  border-radius: 0.3em;
  margin-right: 0.8rem;
  text-align: right;
}

pre > code {
  width: 100%;
}
