@tailwind base;

@layer utilities {
  .focus {
    @apply outline-none focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 dark:focus-visible:ring-blue-300;
  }
}

.prose img {
  @apply rounded-md shadow-md dark:shadow-slate-900;
}

.prose video {
  @apply rounded-md shadow-md dark:shadow-slate-900;
}

.prose pre {
  @apply shadow-md dark:shadow-slate-900;
}

hr {
  @apply !border-slate-300 dark:!border-slate-700;
}

button {
  @apply rounded-md;
  @apply focus;
}

a {
  @apply rounded-sm;
  @apply focus;
}

svg {
  @apply outline-none focus:outline-none;
}

ul,
ol,
dl {
  margin-top: 1rem;
}

ul,
ol {
  list-style: inherit;
  margin-left: 1rem;
}

.readable-list dd {
  margin-bottom: 1.4rem;
}

.readable-list dt {
  font-weight: bold;
}

.post-content p {
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.post-content a:not(:only-child) {
  background-color: #eeeeee;
  border-bottom: 1px dotted #e9e9e9;
}

.post-content a:not(:only-child):hover {
  border-bottom: 1px dotted #666;
}

pre[class*="language-"] {
  margin-bottom: 1.5rem;
  overflow-x: scroll;
}

.code-breakdown {
  display: grid;
  grid-template-columns: auto 1fr;
}
.code-breakdown dd),
.code-breakdown dt {
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.3rem;
  margin-inline-start: 0;
}
.code-breakdown dt {
  background: rgb(245, 242, 240);
  border-radius: 0.3em;
  margin-right: 0.8rem;
  text-align: right;
}

pre > code {
  width: 100%;
}

@tailwind components;
@tailwind utilities;
